<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/fc-4.1.0/fh-3.2.4/kt-2.7.0/rg-1.2.0/sb-1.3.4/sp-2.0.2/datatables.min.css"/>
    <title>Tub5_Datatable</title>
</head>
<body style="background-color: lightblue; padding: 3rem 0rem 3rem;">
    <div class="container mt-5" style="font-family: 'Itim'; background-color: white ;border-radius: 0.5rem; width: 100%; padding: 20px;">
        <table style="font-family: 'Itim'; width: 100%;" class="table table-striped" id="myTable">
            <thead>
              <tr>
                <th scope="col">เลขที่</th>
                <th scope="col">ชื่อ-นามสกุล</th>
                <th scope="col">จำนวนวันที่ลาทั้งหมด</th>
                <th scope="col">จำนวนวันที่ลาในสัปดาห์</th>
                <th scope="col">วันที่ลาในสัปดาห์</th>
              </tr>
            </thead>
            <tbody>
                <%dataLists.forEach(user => {%>
                    <tr>
                        <th scope="row"><%= user.class_num %></th>
                        <td><%= user.name %></td>
                        <td><%= user.total_days %></td>
                        <td><%= user.week_days %></td>
                        <td><%= user.weekDates %></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
        <div>
            <form id="goback" method="GET" action="/">
                <button class="btn btn-danger" >กลับหน้าหลัก</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/fc-4.1.0/fh-3.2.4/kt-2.7.0/rg-1.2.0/sb-1.3.4/sp-2.0.2/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable( {
                orderFixed: {
                    "pre": [ 0, 'asc' ],
                    "post": [ 1, 'asc' ]
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'print'
                ]
            } );
        } );
    </script>
</body>
<p>
    <footer style="font-family: 'Itim'">
      <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.795); padding:1rem 1rem 1rem; border-radius: 0.5rem;">
        Developed By:
        <label class="text-dark">Suthang Sukrueangkun</label><p></p>
        <label class="text-dark">Class: S. 5/5 Ratchasima Witthayalai School</label>
      </div>
    </footer>
  </p>
</html>
